.Card {
  display: flex;
  flex-direction: column;
}

.Card-title {
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

.Card-small {
  margin-top: 0.5em;
  font-style: italic;
  font-size: small;
}

.Card-image {
  border-radius: 8px;
}